@charset "utf-8";
/* 서브페이지용 CSS - sub.css*/

/* 공통 외부 CSS 합치기 */
@import url(./common.css);

/* 서브페이지 공통 글자 설정 */
#cont {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}

/* 서브타이틀 */

h2.shit {
    font-size: 24px;
    color: #313131;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px 0px #87fd00;

    /* 

      [ outline 요소 ]
      box모델의 필수속성은 아니지만
      박스의 외곽선을 표현해주며
      박스자체에 크기에 영향을 주지 않음
      outline : 두께 종류 색상
      -> border와 셋팅이 같음
      단, border-radius 둥근 모서리는 보더에만 적용되었으나 아웃라인도 적용 됨
      ->주로 사용되는 예는 input 입력창에서 포커스가 갈 경우 외곽선 표시가 됨
   
    */

    outline: 1px solid #87fd00;
    padding: 40px;
    border-radius: 10px;

    /* 배경넣기 : 한번에 쓰기 
  background: 색이반고윙/크;   bg엔터
              배경색 이미지 반복 고정 위치/크기
    */

    /* 배경넣기 : 속성별 쓰기
      
  -배경이미지
      background-image: url(../images/afig4.jpg);
      -반복여부
      background-repeat: no-repeat;
      -배경위치 : 가로 세로 
      background-position: center;
      -배경크기 : 가로 세로
      background-size: cover; (bgz  contain이 기본설정)
      */

    /* 박스그림자 */
    box-shadow: inset 7px 2px 95px 11px #87fd00;
    /* 
    [ box-shadow 속성 : bsh ]
    - 박스 외부/내부 그림자 설정속성
    - 값: x축 y축 blur경계 spread확장 색
    text-shadow와 달리 spread 속성이 있음 이것은 그림자를 커지게 함.
    - 내부 그림자 옵션: inset
    - 그림자 다중설정 : 콤마로 연속사용가능
       
    ex) 
    box-shadow:
    inset 7px 2px 61px -7px #87fd00,
    1px -4px 18px -6px #87FD02;

    ex)
    box-shadow: inset 50px 23px 61px 0px #54ffd4, inset -48px -19px 61px 3px #fffc26;
  */

    /* 마진 아래: mb30 */
    margin-bottom: 30px;
}

/* 정치 배경이미지 */
h2.st1 {
    background: url(../images/afig1.jpg) no-repeat 0 -20px / cover;
    color: #0d3ff3;
}

/* 경제 배경이미지 */
h2.st2 {
    background: url(../images/afig2.jpg) no-repeat center/cover;
    color:rgb(255, 51, 153) ;
}
/* 사회 배경이미지 */

h2.st3 {
    background: url(../images/afig3.jpg) no-repeat center/cover;
    color: #da05ff;
}
/* IT/과학 배경이미지 */
h2.st4 {
    background: url(../images/afig4.jpg) no-repeat center / cover;
    color: #ff2c0b;
}

/* TV/연예 */
h2.st5 {
    /* background: url(../images/afig5.jpg) no-repeat 0 -40px/cover; */
    /* 배경이미지 */
    background-image: url(../images/afig5.jpg);
    /* 배경위치 변경(세로 y축) */
    background-position-y: -40px;

    /* #cont .st5? / h2.st5로 하면 우선순위 높일 수 있음. 글자색 개별 변경 가능 */
    color: #ffe605;
}

/* 언론사로고 */
.prlogo img {
    height: 32px;
}

/* 이미지는 기본 비율을 가지고 있어서 가로, 세로 중
한쪽만 크기를 주면 나머지 방향은 자동으로 비율을 유지함. 
가로 세로 다 주면 비율이 깨짐 */

/* 기사타이틀 */
.atit {
    font-size: 26px;
}

/* 기사이미지 박스 */
.afig {
    margin-bottom: 20px;
}

/* 기사이미지 */
.afig img {
    width: 70%;
}

/* 기사이미지 설정 */
.afig figcaption {
    font-size: small;
    color: #888888;
    text-align: center;
}

/* 기사 문단 */
.acont p {
    font-size: 17px;
    color: #303038;
    /* 자간 ls */
    letter-spacing: -1px;
    /* 단어간격 ws */
    word-spacing: 5px;
    /* 양쪽정렬 taj */
    text-align: justify;
    /* 줄간격 lh1.2 글자 라인간 간격 조정. 숫자만 쓰면 배수. 글자 높이값의 1배 2배 1.2배 px도 가능*/
    line-height: 1.56;
    /* --> 줄간격의 응용은 버튼 등의 글자를 세로 중앙에 오게 할 때 박스 높이값만큼 준다 */

}

/* 강조em요소 디자인변경 */
.acont p em{
    /* 이탤릭해제 */
    font-style: normal;
    /* 글자색 변경 */
    color: #0d3ff3;
    /* 글자 두껍게 */
    font-weight: bold;
    /* 글자그림자 */
    text-shadow: 2px 2px 2px yellow;

}

/* 마크 */
.acont p mark {
    display: block;
    width: 70%;
    background-color: lightgray;
    text-align: center;
    margin: 15px auto;
    padding: 55px 50px;
    font-size: 20px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color: darkslategray;
    font-size: medium;
}


/* 유튜브 동영상 */
.mvbx {
    
    height: 400px;
    /* 
    div와 같은 block요소는
    width 설정을 하지 않으면  width:auto로 자동설정됨
    이는 싸고 있는 박스 컨텐트 영역을 자동으로 채워준다
    */


}

/* 인용블록 영역 */
.bqbx{
  padding: 20px;
  margin: 20px 0;
  font-size: 14px;
  border-top: 1px dashed #d5d5d5;
  border-bottom: 1px dashed #d5d5d5;

}



/* 인용블록 이미지 */
.bqbx img{
  float: right;
  border-radius: 10px;
  margin-left: 20px;
}

.bqbx blockquote{

  padding: 15px 0;
  line-height: 2;


}

/* 주해 영역 */
.desc {
  border-top: 1px dashed #CCC;
  border-bottom: 1px dashed #CCC;
  padding: 20px 0;
}

/* 주해 블록 */
.desc div{
  padding: 15px 0;
}



/* article 제목공통 - .atbx */
.atbx h5{

  /* 배경색 */
  background-color: #ebebeb;
  /* 패딩 */
  padding: 10px 20px;
  display: inline-block;
  border-radius: 31px;
  box-shadow: inset 1.9px 2.4px 2.5px #87fd00;
  font-size: 17px;
  color: #767676;
  margin: 0;
}



.mvbx iframe{
  border: none;
  width: 100%;
  height: 100%;
}


/* 기사원문 */
.alink{
  text-align: right;

}
.alink a{
  /* 디자인 적용휘해 display 변경하기 */
  display: inline-block; /* dib */
  text-align: center; /* tac */
  width: 90px;
  height: 90px;
  border: 1px solid #87fd00;
  border-radius: 50%; /* 원형 */
  /* 줄간격으로 세로 글자 중앙 lw90px (px안하면 배수) */
  line-height: 90px;

  /* a요소 기본 글자색, 밑줄없앰 */
  color: #87fd00;
  text-decoration: none;
  letter-spacing: 4px;

}

/* 마우스 오버 시 변경 */
.alink a:hover{
  color: #000;
  background-color: #87fd00;
  box-shadow: 0 0 3px 5px #e3ffc2;
}


/* 오늘의 작품 & 느낌 */

.work{
  text-align: center;
  /* 배경색 */
  /* background-color: lightcoral; */

  background-image: linear-gradient(56deg, #4e3d2c 24%, #ed5a38 55%);
  background-clip: content-box;
  /* 그라데이션 -> 이미지로 bgi 
    [ 선형 그라데이션 : linear gradient ]
    background-image: linear-gradient(방향, 색1, 색2)
    background-image: linear-gradient(방향, 색1 몇%, 색2몇%)
    background-image: linear-gradient(각도, 색1 몇%, 색2몇%)
    -옵션
      1.방향 : to top, to bottom, to left, to right
      2.각도 : 각도deg
      3.콤마로 나열된 색상에 %를 뒤에 쓰면 비율 조정가능

    */
    border: 10px dotted orange ;
    padding: 50px;

    /* 
      배경옵션 추가
      background-clip : 배경이 적용되는 범위 설정
      1. border-box -> 보더까지 적용 (기본값)
      2. padding-box -> 패딩까지 적용
      3. content-box -> 내용영역만 적용 (패딩, 보더 빠짐)




    */

}





/* 작품 타이틀 */
.work h3{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #87fd00;
    padding-top: 20px;

}

/* 작품이미지 */
.work img{
  border: 15px ridge gold;
  /* ridge - 액자틀모양 */
  background-clip: content-box;
  box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.926);
  
}


/* 작품명 */
.work figcaption{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  color: #87fd00;
  

}

/* 작품명 인용구 */
.work figcaption cite{
  font-style: normal;
  padding: 10px;
}


/* 뉴스파트 공통 class */
.nbx{
  border-top: 1px dashed #87fd00;
  margin: 20px 0;
  padding: 20px 0;
}



/* 뉴스파트 공통 a 요소 */
.nbx a{
  /* 글자크기 fz */
  font-size: 17px;
  /* 줄간격 lh */
  line-height: 2.5;
  /* 글자색 c */
  color: #222;
  /* 밑줄없앰  */
  text-decoration: none;

}
/* 공통 마우스오버 */
.nbx a:hover{
  color: #87fd00;
  text-shadow: 1px 1px 1px #000;

}

/* 뉴스 타이틀 공통 */
.nbx h3{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  font-size: 30px;
  background-image: linear-gradient(to right,#87fd00,transparent );
  padding: 10px;

}

/* 한줄 말줄임표시하기 공통처리 */
.nbx li, .nbx dd, .nbx td {
  /* 1.줄바꿈 방지 wh */
  white-space: nowrap;
  /* 2.넘치는 컨텐츠 숨기기 of */
  overflow: hidden;
  /* 3.넘치는 글자 말줄임표시 tv */
  text-overflow: ellipsis;
 
  /*
  추가)여러줄일때 말줄임은 아래 3가지 추가 
  
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;  (: 라인수;)
    -webkit-box-orient: vertical;
    단, 박스 높이값을 글자가 보일만큼 조절함'
    ->> white-space: nowrap; 없음 
  */


}


/* 주요뉴스 ul */
.cnews ul li::before{
  content: '🍔';

}
.cnews ul li::after{
  content: '입니다🧀';

}


/* 주요뉴스 li별 글자색 바꾸기 */
.cnews li:first-child a{
  color:red
}
.cnews li:nth-child(2) a{
  color:blue
}
.cnews li:last-child a{
  color:green
}






/* 분야별 뉴스 제목 */

.snews dt{
  display: inline-block;
  border: 2px double #87fd00;
  border-radius: 100px;
  padding: 15px;
  background-color: #e8ffcd;
  margin-top: 35px;
}



/* dd앞에 가상요소로 블릿넣기 */

.snews dd::before{
  content: '🍦';
}


/* 
  [ CSS 가상요소 : before, after ]
  - 모든 요소는 맨앞과 맨뒤에 가상요소를 사용할 수 있다.
  - 맨앞은 before, 맨뒤는 after
  - 필수속성 : content
  - 이미지는 url()사용

*/


/*  분야별뉴스 dt별 글자색, 배경색변경하기 */
.snews dt:first-of-type{
  color: red;
  background-color: #d6fe6e;
  border-color: #0d3ff3;
}
.snews dt:nth-of-type(2){
  color: blue;
  background-color: #6efee8;

}
.snews dt:last-of-type {
  color: rgb(219, 100, 255);
  background-color: #ecfffc;
  border-color: #39ffba;

}
/* 
[ 자식요소 선택 가상클래스 : 자식요소 종류가 같아야함! ]
    요소:first-child -> 첫번째 자식요소
    요소:nth-child(n) -> n번째 자식요소
    요소:last-child -> 마지막째 자식요소

[ 여러종류가 섞여 있을 경우 형제 선택하기 ]
    요소:first-of-type -> 같은 요소 중 첫번째
    요소:nth-of-type(n) -> 같은 요소 중 n번째
    요소:last-of-type -> 같은 요소 중 마지막째 
    
    단, n은 1부터
  
*/




.a {
    text-align: center;
}

.b {
    padding: 50px;
}

/*
figcaption {
    text-align: center;
} */
