@charset "utf-8";
/* 버거킹 : 메인페이지 CSS - main.css */


@import url(./reset.css);
@import url(./common.css);
@import url(./core.css);
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300;500;900&display=swap');

.gnb-box{
  position: relative;
  max-width: 80%;
  margin: 26px auto;

 z-index: 10;

}

.gnb{
 
  display: flex;
  height: 52px;
  box-shadow: 3px 3px 7px #35262680;
}

.gnb a{
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  font-size: 0.9rem;
  display:block;
}


.gnb-box li{
display: inline-block;
flex: 1;
background-color: #d0021b;
text-align: center;
line-height: 52px;


}

.gnb-box li:hover{
background-color: #bb0a1f;
transition: background-color .2s ease-in ;
}

.gnb-box li:nth-child(4){

flex: .6;

}

.nav-logo {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80px;
height: 80px;
background-color: #d0021b;
text-align: center;
border-radius: 10px;
box-shadow: 3px 3px 7px #35262680;
transition: .4s ;
}


.nav-logo:hover {
transition: .3s ease-in;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1.2);


}


.nav-logo img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 60px;

}



.banner{
  position: absolute;
  top: 0;
  height: 80vh;
  width: 100%;
  background-color: #bb0a1f ;

 
}


.banner_back img{
  position: absolute;
  width: 600px;
  margin: 0 auto;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* 
.banner{
  position: relative;
  top: -150px;
  height: 85vh;
  width: 100%;
  background-color: #bb0a1f ;

   overflow: hidden;
}


.banner_back img{
  position: absolute;
  width: 600px;
  margin: 0 auto;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.banner_burgerImg{

  width: 600px;
  height: 600px;
 

}

.burger_sticky{

  position: sticky;
  top: 0;
  text-align: center;
  margin-top: 300px;
}



.banner_burgerImg img{


}




.burger_sticky:nth-child(9){
  top:104px
}
.burger_sticky:nth-child(8){
  top: calc(104px*2)
}
.burger_sticky:nth-child(7){
  top: calc(104px*3)
}
.burger_sticky:nth-child(6){
  top: calc(104px*3)
}
.burger_sticky:nth-child(5){
  top: calc(104px*3)
}
.burger_sticky:nth-child(4){
  top: calc(104px*3)
}
.burger_sticky:nth-child(3){
  top: calc(104px*3)
}
.burger_sticky:nth-child(2){
  top: calc(104px*3)
}
.burger_sticky:nth-child(1){
  top: calc(104px*3)
}





.banner{
  position: absolute;
  top: 0;
  height: 80vh;
  width: 100%;
  background-color: #bb0a1f ;

 
}


.banner_back img{
  position: absolute;
  width: 600px;
  margin: 0 auto;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.banner_burgerImg{
  position: absolute;
  width: 600px;  
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_burgerImg img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.banner_burgerImg img:nth-child(9){
  transform: translateY(-80%);
}
.banner_burgerImg img:nth-child(8){
  transform: translateY(-35%);
}
.banner_burgerImg img:nth-child(7){
  transform: translateY(-15%);
}
.banner_burgerImg img:nth-child(6){
  transform: translateY(35%);
}
.banner_burgerImg img:nth-child(5){
  transform: translateY(5%);
}
.banner_burgerImg img:nth-child(4){
  transform: translateY(65%);
}
.banner_burgerImg img:nth-child(3){
  transform: translateY(65%);
}
.banner_burgerImg img:nth-child(2){
  transform: translateY(135%);
}
.banner_burgerImg img:nth-child(1){
  transform: translateY(145%);
}
 */