

[ 네비게이션 ]
/* 유동적 폰트사이즈 */
/* 18px 이상은 안넘고 화면에 따라서 1.8vw */
font-size: min(18px,1.8vw);


/* 유동적 패딩사이즈 */
padding: 0 min(32px, 1.5vw);


/* 서브메뉴 박스를 큰제목 중심 아래에 둘때 */
left: 50%;
transform: translateX(-50%);

/* 라벨+빈칸에입력+엔터누르는거+클릭 조합 */
<h3 id="info">국번안내</h3>
<label for="local">지역명 입력:</label>
<input type="text" id="local" placeholder="지역명을 '도'를 빼고 쓰세요!" maxlength="10" onkeypress="if(event.keyCode==13)showLocal()" />
<button class="sbtn" onclick="showLocal()">국번문의</button>